#services,
#services2,
#services3 {
  padding-top: 70px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#services3 {
  background-image: url(../img/fondoright.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
}

.servicesText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 20px 0;
  padding: 0 6%;
}

.number {
  border: 2px solid #f93045;
  color: #f93045;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 12px;
  padding: 4px;
  font-weight: bold;
}

.number:nth-child(1) {
  padding: 4px 14px;
}

/*seccion 2 de services*/
.containerServices {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  padding: 8px 0;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
}

/* Tamaño del scroll */
.containerServices::-webkit-scrollbar {
  height: 6px;
}

/* Estilos barra (thumb) de scroll */
.containerServices::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.containerServices::-webkit-scrollbar-thumb:active {
  background-color: #75B5D5;
}

.containerServices::-webkit-scrollbar-thumb:hover {
  background: #75B5D5;
}

/* Estilos track de scroll */
.containerServices::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.containerServices::-webkit-scrollbar-track:hover,
.containerServices::-webkit-scrollbar-track:active {
  background: transparent;
}

.cardServices {
  background-color: #f2f2fa;
  box-shadow: #0A1F29 0px 0px 1px 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-evenly;
  min-height: 440px;
  min-width: 240px;
  padding: 0 4%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.iconServices {
  height: 100px;
  width: 100px;
}

.cardServices h3 {
  font-size: 20px;
  font-weight: bold;
  width: 92%;
  text-align: center;
}

.buttonServices {
  background-color: #75B5D5;
  border-color: #f2f2fa;
  border-style: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  cursor: pointer;
  height: 56px;
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-color: #f2f2fa;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-align: center;
  width: 180px;
  -moz-text-decoration-color: #f2f2fa;
  position: relative;
  overflow: hidden;
  -moz-text-decoration-line: none;
  -moz-text-decoration-style: solid;
}

.buttonServices span {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  transition: color 0.25s cubic-bezier(.7, 0, .9, 1);
  -webkit-transition: color 0.25s cubic-bezier(.7, 0, .9, 1);
  -moz-transition: color 0.25s cubic-bezier(.7, 0, .9, 1);
  -ms-transition: color 0.25s cubic-bezier(.7, 0, .9, 1);
  -o-transition: color 0.25s cubic-bezier(.7, 0, .9, 1);
}

.buttonServices::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-101%, -50%);
  width: 100%;
  height: 100%;
  background-color: #3399cc;
  transition: transform 0.25s cubic-bezier(.7, 0, .9, 1);
}

/*animacion flecha*/
.arrow {
  background-color: transparent;
  position: relative;
  left: 10%;
  top: 54%;
  width: 4rem;
  height: 4rem;
  transform: translate(-60%, -100%);
  -webkit-transform: translate(-60%, -100%);
  -moz-transform: translate(-60%, -100%);
  -ms-transform: translate(-60%, -100%);
  -o-transform: translate(-60%, -100%);
}

.arrowEfect {
  width: 20px;
  height: 20px;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  position: absolute;
  top: 30%;
  left: 40%;
}

.arrowEfect span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 5px solid #0A1F29;
  border-right: 5px solid #0A1F29;
  animation: animate 1.8s linear infinite;
  opacity: 0;
  outline: none;
  -webkit-animation: animate 1.8s linear infinite;
}

.arrowEfectt span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
  -webkit-transform: translate(-15px, -15px);
  -moz-transform: translate(-15px, -15px);
  -ms-transform: translate(-15px, -15px);
  -o-transform: translate(-15px, -15px);
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }

  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }

  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

@media screen and (min-width:480px) {
  .servicesText {
    width: 80%;
    margin: 14px 0;
  }

  .servicesText p {
    font-size: 18px;
    line-height: 28px;
  }

  .servicesText p span {
    font-size: 20px;
  }

  .number {
    font-size: 20px;
    padding: 4px 14px;
  }

  .number:nth-child(1) {
    padding: 4px 20px;
  }

  .cardServices h3 {
    font-size: 24px;
    line-height: 34px;
  }
}

@media screen and (min-width:768px) {
  #services,
  #services2,
  #services3 {
    padding: 40px 0;
  }

  .servicesText {
    width: 76%;
  }

  .servicesText p {
    line-height: 38px;
  }

  .containerServices::-webkit-scrollbar-thumb {
    background-color: #0A1F29;
  }

  .cardServices {
    min-height: 560px;
    min-width: 350px;
    margin: 20px;
    padding: 0 2%;
  }

  .cardServices:hover {
    box-shadow: #0A1F29 0px 0px 3px 0px;
  }

  .iconServices {
    height: 140px;
    width: 140px;
  }

  .buttonServices {
    width: 220px;
    height: 68px;
    margin-top: 20px;
  }

  .buttonServices span {
    font-size: 26px;
  }

  .buttonServices:hover {
    background-color: #3399cc;
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
  }

  .buttonServices:hover span {
    color: #f2f2fa;
  }

  .buttonServices:hover::before {
    transform: translate(0, -50%);
  }

  .number {
    border: 4px solid #f93045;
  }
}

@media screen and (min-width:980px) {
  #services,
  #services2,
  #services3 {
    justify-content: space-evenly;
    padding: 20px 0;
  }

  .servicesText {
    padding: 0 4%;
    width: 66%;
    height: 24%;
  }

  .servicesText p {
    font-size: 26px;
    line-height: 50px;
    margin: 30px;
  }

  .servicesText p span {
    font-size: 28px;
  }

  .cardServices h3 {
    width: 100%;
    font-size: 26px;
    line-height: 46px;
  }
}
